<%= form_with(model: user) do |form| %>
  <%= render partial: 'shared/form/error_explanation', locals: { form: form } %>

  <div class="field mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :role, class: 'form-label' %>
    <%= form.enum_select :role, {}, { class: 'form-select' } %>
  </div>

  <div class="field mb-3">
    <%= form.label :prefecture, class: 'form-label' %>
    <%= form.collection_select  :prefecture_id, Prefecture.all, :id, :name,
                                { include_blank: true }, { class: 'form-select' } %>
  </div>

  <% provide :actions_east do %>
    <%= form.submit class: 'btn btn-dark' %>
  <% end %>
  <%= render partial: 'shared/actions' %>
<% end %>
