<%= will_paginate @users %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td class="col-3 text-center">
          <div class="btn-group" role="group">
            <%= link_to t('.show'), user, class: 'btn btn-outline-dark btn-sm' %>
            <%= link_to t('.edit'), edit_user_path(user), class: 'btn btn-outline-dark btn-sm' %>
            <%= link_to t('.destroy'), user, method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-outline-dark btn-sm' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>

<% provide :actions_west do %>
  <%= link_to t('.new'), new_user_path, class: 'btn btn-outline-dark' %>
<% end %>
<%= render partial: 'shared/actions' %>
