<h1><%= t('.title', id: @user.id) %></h1>

<div class="m-1">
  <div class="row gx-2 my-2 border">
    <div class="col-2 text-end">
      <div class="p-2"><%= User.human_attribute_name(:name) %></div>
    </div>
    <div class="col">
      <div class="p-2"><%= @user.name %></div>
    </div>
  </div>

  <div class="row gx-2 my-2 border">
    <div class="col-2 text-end">
      <div class="p-2"><%= User.human_attribute_name(:email) %></div>
    </div>
    <div class="col">
      <div class="p-2"><%= @user.email %></div>
    </div>
  </div>

  <div class="row gx-2 my-2 border">
    <div class="col-2 text-end">
      <div class="p-2"><%= User.human_attribute_name(:role) %></div>
    </div>
    <div class="col">
      <div class="p-2"><%= @user.role %></div>
    </div>
  </div>

  <div class="row gx-2 my-2 border">
    <div class="col-2 text-end">
      <div class="p-2"><%= User.human_attribute_name(:prefecture) %></div>
    </div>
    <div class="col">
      <div class="p-2"><%= @user.prefecture.name %></div>
    </div>
  </div>
</div>

<% provide :actions_west do %>
  <%= link_to t('.edit'), edit_user_path(@user), class: 'btn btn-outline-dark' %>
  <%= link_to t('.back'), users_path, class: 'btn btn-outline-dark' %>
<% end %>
<%= render partial: 'shared/actions' %>
